.header{
    height: 100px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}
.footer{
  height: 200px;
  background: #000;
}
.header img{
  opacity: 1;
}
.infblock{
  height: 250px;
  width: 400px;
  background: #000000;
  margin-top: -100px;
  border: solid 20px black;
  border-radius: 15px;
  opacity: 1;

}
.infblock:hover{
  transform: scale(1.020);
        
        box-shadow: 0 0 3px 3px  rgb(255, 255, 255);
        transition: 0.5s;
}

.infconteiner{
  width: 100%;
  height: 350px;
  background: #ffffff;
  position:absolute;
  bottom: 0;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  justify-content: space-around;
}
.bg_img{
    width: 100%;
    height: 1080px;
    background: #ffffff url("images\\1.jpg") ;
    position: relative;
    
}
body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

html{
  background: #ffffff ;
  background-size: 100%;
		
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader__row {
  text-align: center;
  animation: preloader-rotate 2.5s infinite linear;
}

.preloader__item {
  
  animation: preloader-bounce 2.5s infinite linear ;
}



@keyframes preloader-rotate {
  100% {
    transform: rotatey(360deg);
    margin-bottom: 950px;
  }
}

@keyframes preloader-bounce {
  100%{
    transform: scale(0.13333);
  }
}

.loaded_hiding .preloader {
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}






